# Analyzing International Football Results from 1970 to 2018

Author: Aderajew Mengistu

## Introduction

The objective of this

In [24]:
import pandas as pd
data = pd.read_csv("results.csv")

In [22]:
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [23]:
data.tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
39664,2018-07-06,Uruguay,France,0,2,FIFA World Cup,Nizhny Novgorod,Russia,True
39665,2018-07-06,Brazil,Belgium,1,2,FIFA World Cup,Kazan,Russia,True
39666,2018-07-07,Sweden,England,0,2,FIFA World Cup,Samara,Russia,True
39667,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False
39668,2018-07-10,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True

In [ ]:
# Remove data before 1970